services:
  db:
    image: mysql:9.5.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: vite_gourmand

    ports:
      - 3306:3306
    volumes:
      - mysql_data:/docker-entrypoint-initdb.d
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

