.hero {
  position: relative; /* Important : permet le positionnement absolu des enfants */
  width: 100%;
  height: 500px; /* ou une hauteur fixe, ou min-height */
  overflow: hidden; /* Cache ce qui dépasse */
}


.heroImage {
  position: absolute; /* Positionne l'image en arrière-plan */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Couche arrière */
}
.heroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;
  filter: brightness(0.5);
 
}

.heroContent {
  position: relative; /* ou absolute selon vos besoins */
  z-index: 2; /* Au-dessus de l'image */
  /* Centrer le contenu */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white; /* Pour que le texte soit visible */
}

.heroTitle {
  font-size: var(--font-size-5xl);
  font-weight: 700;
  text-align: center;
  margin-bottom: var(--spacing-md);
}

.heroText {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: var(--spacing-md);
  color: var(--color-white);
}

.heroButton {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 20px 25px;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--font-heading);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease-in-out;
}

.heroButton:hover {
  transform: translateY(-1px);
  box-shadow: var(--shadow-md);
  transition: all 250ms ease-in-out;
}

